<div class="jumbotron">
	<div class="row">
		<form action="/jokenpo" class="col-md-4">
			<button id="rock" type="submit">
				<input name="game" value="0">
				<img src="/img/rock.png">
			</button>
		</form>

		<form action="/jokenpo" class="col-md-4">
			<button id="paper" type="submit">
				<input name="game" value="1">
				<img src="/img/paper.png">
			</button>
		</form>

		<form action="/jokenpo" class="col-md-4">
			<button id="scissors" type="submit">
				<input name="game" value="2">
				<img src="/img/scissors.png">
			</button>
		</form>
	</div>
</div>